body {
    min-height: 100vh;
    background: #25252b;
    margin: 0;
    padding: 0;
    position: relative;
}

.box {
    position: absolute;
    top: 20px; /* distance from top */
    right: 20px; /* distance from right */
    width: 400px;
    height: 200px;
    background: repeating-conic-gradient( from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50% );
    filter: drop-shadow(0 15px 50px #000);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
